<p>Please participate in the refinement session (point estimation) that the team does at the end of each sprint.</p>
<p>You should receive an email which invites you to the estimation session, but if not, contact <a href="https://handbook.opencraft.com/en/latest/cells/#cells">your cell's sprint manager</a> or your <a href="https://handbook.opencraft.com/en/latest/roles/#mentor">mentor</a> for an invite.</p>
<p>See <a href="https://handbook.opencraft.com/en/latest/sprint_planning_agenda/#refinement-session">Sprint planning agenda &gt; Refinement session</a> for details on how to participate.</p>
