<p>From your onboarding epic ownership, you've learned part of what is required to manage an <a href="https://handbook.opencraft.com/en/latest/glossary/#epic">epic</a>. As a core team member, you'll be responsible for one or more internal or client-driven epics.</p>
<p>Read the&nbsp;<a href="https://handbook.opencraft.com/en/latest/epic_management/" target="[object Object]">Epic Management</a> section of the Handbook. Note that this can be a lot of information to process and understand in one go. So it is better to read this once and use it for later reference whenever required.</p>
<p></p>