<h3>Task selection</h3>
<p>All of the tasks of OpenCraft are listed in the Backlog for your cell, which contains sections that identify groups of tasks. These sections are mainly the <strong>Stretch Goals</strong> section and <strong>Sprint Tasks</strong> sections which include the tasks we selected as Ready for Development under a certain sprint like the current, and the upcoming sprints. Tasks under <strong>Stretch Goals</strong> section are additional tasks that will be Ready for Development in case a developer finished his/her assigned tasks before the end of the sprint.</p>
<h4>Step by step</h4>
<ol>
<li>Go to your cell's sprint board: <a href="https://tasks.opencraft.com/secure/RapidBoard.jspa?rapidView=26">Bebop</a> or <a href="https://tasks.opencraft.com/secure/RapidBoard.jspa?rapidView=24">Serenity</a></li>
<li>Look at tickets in <em>Stretch Goals</em> and the <em>upcoming sprint</em>, starting at the top of the list. (Tickets are generally sorted by descending priority.)<br /> If there are no unassigned tickets in these sprints, you can look in the Backlog, and ask the ticket reporter or the assignee of the ticket's associated epic if they can be moved into an upcoming sprint.</li>
<li>Look for tickets marked with the&nbsp;<a href="https://handbook.opencraft.com/en/latest/task_workflows/#newcomer-friendly-tasks">Newcomer Friendly</a> label. These are generally smaller tasks and a good choice for your first sprint, though it's important to take on more complex tasks as your trial period progresses.</li>
<li>Check the left-hand border of the tickets in the list. We <a href="https://tasks.opencraft.com/secure/RapidView.jspa?rapidView=24&amp;tab=cardColors">configure different colored markers</a> to assist with sprint planning. For example:<br /> <span style="color: #fab700;">yellow</span>: ticket is missing either an assignee, a reviewer, or <a href="https://handbook.opencraft.com/en/latest/glossary/#points">story points</a>. Check these first to see if one looks suitable.<br /><span style="color: #43de00;">green</span>: ticket has an assignee, a reviewer, and <a href="https://handbook.opencraft.com/en/latest/glossary/#points">story points</a>, and so is ready for inclusion in the sprint.<br /> <span style="color: #ff0000;">red</span>: ticket is critical priority for the sprint.<br /> <span style="color: #bf00bf;">purple</span>: ticket is assigned to the other cell, but has a reviewer in this cell.</li>
<li>If it's not your first sprint, try to find some tasks from projects (a.k.a. epics) that you already worked on. (We do want newcomers to work on different types of tasks, but some degree of continuity is also important to keep the amount of context switching sane.) Colored <a href="https://handbook.opencraft.com/en/latest/glossary/#epic">epic</a> labels help with this.</li>
</ol>
<h3>When to start picking?</h3>
<p>Usually the time to start picking tasks for the next sprint is in day 11 (Friday) of the current sprint, as most of your tasks (ideally all of them) are going to be in internal/external review and team members will be busy with the review process. By this time, you'll always get the chance to know how much load you're gonna be able to take in the next sprint. Check the <a href="https://handbook.opencraft.com/en/latest/process/">Process for sprints</a> section in the Handbook for extra details.</p>