<p>The OpenCraft Instance Manager (<a href="https://manage.opencraft.com">Ocim</a>) is our in house application to deploy and manage <a href="https://open.edx.org/">Open edX</a> instances on <a href="https://www.openstack.org/">OpenStack</a> virtual machines. We use it for three main reasons:</p>
<ul>
<li>Testing new features on Open Edx instances</li>
<li>Automatically creating sandboxes for PR's</span></li>
<li>Automating the deployment of instances for Pro &amp; Teacher clients</li>
</ul>
<p>Take some time to read <a href="https://ocim.opencraft.com/en/latest/">OpenCraft Instance Manager</a>.</p>
