<p>Part of working for OpenCraft involves doing estimates for clients, and if those estimates are accepted, managing the project or <a href="https://handbook.opencraft.com/en/latest/glossary/#epic">epic</a> that goes along with that work. Epic ownership is an important part of how we work; it's how we keep our projects on target to the clients' expectations, and how we keep our company budget on track. See the <a href="https://handbook.opencraft.com/en/latest/roles/#epic-owner">Epic Owner role</a> for more details about the expectations and responsibilities of managing epics.</p>
<p>As a newcomer, your onboarding epic is your introduction to this process. You can locate your onboarding epic by visiting the Epic Link on your initial onboarding task. Read through the <a href="https://handbook.opencraft.com/en/latest/roles/#newcomer">Onboarding epic management section of the Newcomer role</a> for more details about what is involved managing your onboarding epic.</p>
<p>Make notes for anything you need to discuss with your mentor during your next 121, or if you have immediate questions, feel free to ask on <a href="https://handbook.opencraft.com/en/latest/glossary/#mattermost">Mattermost</a>.</p>
<h3>Epic budget</h3>
<p>Your onboarding epic's budget is divided into two parts:</p>
<ul>
<li>initial 2 months trial period</li>
<li>3-6 months afterwards</li>
</ul>
<p>See your onboarding epic for details about how many hours are allocated to each part.</p>
<p>Use the epic's Summary Panel to see how many hours have been used and how many remain for the estimated tasks.</p>
<p>Note that your mentor will also create tasks for the various review stages of your trial period(s). These tasks will
  always be <a href="https://handbook.opencraft.com/en/latest/glossary/#timebox">timeboxed</a> to a fixed hours
  estimate, so you don't have to worry about them going over estimate. For example, the screening review may involve 3
  people, and each has 1 hour to do their review.</p>
<h3>Epic timeline</h3>
<p>Your onboarding epic will follow the <a href="https://handbook.opencraft.com/en/latest/onboarding/">Onboarding &amp; Evaluation Process</a> described in the handbook.</p>
<p>Ensure that your onboarding epic has a timeline section that reflects the key dates in your onboarding process: screening review, developer review, end of trial period.</p>
<p>Update the Due Date of your epic to your end of trial period. If your trial is extended, ensure the Due Date reflects the new end of trial period. And if you join the core team, update the Due Date to reflect the end of your 6 months of onboarding.</p>
<h3>Meetings</h3>
<p>Your onboarding epic should have a Recurring task for 121 meetings with your mentor. Ensure that you schedule these regularly, and keep the hours estimate on this task updated.</p>
<h3>Creating tasks</h3>
<p>Your onboarding epic will already have a task created for your initial onboarding time, which should be completed during your first sprint. Create follow-up tasks for onboarding during subsequent sprints, to cover the remainder of this onboarding course and any onboarding activities related to technical tasks you take on. Also feel free to create tasks to cover further training or other explorations you take on, being mindful of your onboarding budget.</p>
<p>Schedule these tasks for the appropriate sprint, and ensure you have reviewers assigned where appropriate (or assign
  yourself if you do not need a separate reviewer). Estimate them accordingly, and/or <a href="https://handbook.opencraft.com/en/latest/glossary/#timebox">timebox</a> where appropriate, if you want to strictly limit the number of hours spent on a task.</p>
<h3>Epic updates</h3>
<p>On the Thursday in the second week of each sprint, add a comment to your onboarding epic using the template in the <a href="https://handbook.opencraft.com/en/latest/roles/#epic-owner">Epic owner role</a>. Complete each section, and tag your mentor with any questions or concerns. Ensure that all tasks in the upcoming sprint have an assignee and reviewer.</p>
