<p><strong>You will not need this now! Come back to these instructions if you need a Vagrant devstack for a particular client.</strong></p>
<p>The vagrant devstack is required to work on most of <strong>ginkgo</strong> instances of Open EdX, and setting it up may be a difficult task at first.</p>
<p>To set it up, follow these steps:</p>
<p>1. Create a new folder to hold your vagrant devstack (e.g <code>~/vagrant_devstack</code>).</p>
<p>2. Set up the release environment variable (usually <strong>open-release/ginkgo.1</strong>)</p>
<p><code>export OPENEDX_RELEASE=open-release/ginkgo.1</code></p>
<p>3. Clone the Vagrantfile and install required virtual hosts plugin by running:</p>
<p><code>curl -OL https://raw.github.com/edx/configuration/$OPENEDX_RELEASE/vagrant/release/devstack/Vagrantfile</code></p>
<p><code>vagrant plugin install vagrant-vbguest</code></p>
<p>4. Provision the devstack with:</p>
<p><code>vagrant up</code></p>
<p>In this last step is where you'll find most issues while setting up the devstack, but many developers already went through the trouble of fixing most of them so you don't have to. There's lots of tips, tricks and fixes on how to solve Vagrant devstack issues on the links below:</p>
<ul>
<li><a href="https://gitlab.com/opencraft/documentation/private/blob/master/tips_and_tricks.md">Tips &amp; Tricks for OpenCraft developers</a></li>
<li><a href="https://forum.opencraft.com/t/devstack-tips-and-tricks-general-discussion/65">Devstack tips and tricks. General discussion</a></li>
</ul>
<p>Whenever you face an issue, troubleshoot it, fix the cause and run <code>vagrant provision</code> again to restart the provisioning of the devstack.</p>
<p>If you are stuck, don't hesitate to ask on <a href="https://handbook.opencraft.com/en/latest/glossary/#mattermost">Mattermost</a>.</p>
